body {
  font-family: "Raleway", sans-serif;
}
#title {
  background-color: #268acc;
  color: #a1a1a1;
}
.container-fluid {
  padding: 2% 2% 0.5%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
